<style>
  .publication-item {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  .publication-image {
    flex: 0 0 auto;
    margin-right: 20px; /* 调整图片和内容之间的间距 */
  }

  .publication-image img {
    max-width: 20%; /* 图片最大宽度为其容器的100% */
    height: auto; /* 高度自动调整以保持比例 */
  }

  .publication-content {
    flex: 1;
  }

  .publication-links {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px; /* 调整链接之间的间距 */
  }

  .publication-links a {
    display: inline-block;
    margin-right: 10px; /* 调整链接之间的间距 */
  }

  .publication-author {
    margin-top: 10px;
    font-weight: bold;
  }

  .publication-journal {
    margin-top: 5px;
  }
</style>

<div class="publications">
  <h1>Publications</h1>

  <ul class="publication-list">
    {% for post in site.publications %}
      <li class="publication-item">
        <div class="publication-image">
          {% if post.image %}
            <img src="{{ post.image }}" alt="{{ post.title }}">
          {% endif %}
        </div>
        <div class="publication-content">
          <h2>{{ post.title }}</h2>
          <p class="publication-author">Author: {{ post.author }}</p>
          <p class="publication-journal">Journal: {{ post.journal }}</p>
          <p><em>{{ post.date | date: "%B %d, %Y" }}</em></p>
          <p>{{ post.venue }}</p>
          <p>{{ post.description }}</p>
        </div>
        <div class="publication-links">
          {% if post.pdfurl %}
            <a href="{{ post.pdfurl }}" target="_blank">PDF</a>
          {% endif %}
          {% if post.codeurl %}
            <a href="{{ post.codeurl }}" target="_blank">Code</a>
          {% endif %}
          {% if post.demourl %}
            <a href="{{ post.demourl }}" target="_blank">Demo</a>
          {% endif %}
        </div>
      </li>
    {% endfor %}
  </ul>
</div>
