<style>
  /* 新的 CSS 样式 */
  .publication-item {
    display: flex;
    align-items: center; /* 项目垂直居中对齐 */
  }

  .publication-image {
    flex: 1; /* 图片占据三分之一的宽度 */
    margin-right: 20px; /* 图片右侧留出一些间距 */
    text-align: center; /* 文本水平居中对齐 */
  }

  .publication-image img {
    max-width: 100%;
    max-height: 100vh; /* 图片高度不超过视口高度 */
    display: inline-block; /* 让图像作为内联块元素 */
    vertical-align: middle; /* 图片垂直居中对齐 */
  }

  .publication-content {
    flex: 2; /* 内容占据两分之一的宽度 */
  }

  /* 减小段落的上下间距 */
  .publication-content p {
    margin: 0.5em 0; /* 适当调整上下间距 */
  }

  /* 调整链接之间的间隔 */
  .publication-links a {
    margin-right: 6px; /* 链接右侧留出一些间距 */
  }
</style>

<div class="publications">
  <h1>Publications</h1>

  <ul class="publication-list">
    {% for post in site.publications %}
      <li class="publication-item">
        <!-- 添加图片 -->
        <div class="publication-image">
          <img src="{{ post.image }}" alt="{{ post.title }}">
        </div>
        <div class="publication-content">
          <h2>{{ post.title }}</h2>
          <p class="publication-author">Author: {{ post.author }}</p>
          <p class="publication-journal">Journal: {{ post.journal }}</p>
          <p><em>{{ post.date | date: "%B %d, %Y" }}</em></p>
          <p>{{ post.venue }}</p>
          <p>{{ post.description }}</p>
          <div class="publication-links">
            {% if post.pdfurl %}
              <a href="{{ post.pdfurl }}" target="_blank">PDF</a>
            {% endif %}
            {% if post.codeurl %}
              <a href="{{ post.codeurl }}" target="_blank">Code</a>
            {% endif %}
            {% if post.demourl %}
              <a href="{{ post.demourl }}" target="_blank">Demo</a>
            {% endif %}
          </div>
        </div>
      </li>
    {% endfor %}
  </ul>
</div>
